body {
	padding:0;
	margin:0;
	max-width:256px;
	max-height:256px;
	background-color:black;
	background-image:url( "images/construct.png" );
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
}

.balls {
	border-right:1px solid #F0F8F0;
}

.speaker {
	margin-left:170px;
	margin-bottom:6px;
}

.time {
	position:absolute;
	margin-left:5px;
	margin-top:5px;
	font-size:12px;
}

.topPanel {
	top:0;
	left:0;
	position:relative;
	width:256px;
	height:24px;
	background-color:#003090;
	border-bottom:3px solid #001030;
	color:white;
	font-weight:bold;
}

.topPanelText {
	position:absolute;
	width:256px;
	height:24px;
	padding-top:4px;
	padding-left:2px;
	font-size:13px;
}

.navPanel {
	position:relative;
	height:31px;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	top:5px;
}

.navPanel a {
	color:blue;
}

.navPanelTextLeft {
	margin-right:50px;
}

.contentPanel {
	position:relative;
	height:91px;
	background-color:#00000078;
	font-size:60px;
	font-weight:600;
	color:white;
	text-shadow:4px 2px black;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:clip;
}

.contentPanelText {
	position:absolute;
	text-align:center;
	top:5px;
	animation:anim 2.0s linear infinite;
}

@keyframes anim {
	from { transform:translateX( 100% ); }
	to { transform:translateX( -100% ); }
}

.crashPanel {
	position:relative;
	height:22px;
	background-color:#00000028;
	font-size:12px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.crashText {
	text-decoration:underline;
	color:#009BFA;
	margin-left:4px;
	margin-right:2px;
}

.statsPanel {
	position:relative;
	height:57px;
	border-bottom:2px solid #FFFFFF1E;
	font-size:12px;
}

.statsPanelLeft {
	width:50%;
	float:left;
	padding-top:7px;
	padding-left:15px;
}

.statsPanelRight {
	position:absolute;
	left:50%;
	float:right;
	padding-top:7px;
	padding-left:15px;
}

.optionsPanel {
	position:relative;
	height:22px;
	background-color:#DAD9D5;
	border-top:2px solid black;
	border-bottom:2px solid black;
	padding-left:5px;
}

.optionsPanel button {
	background-color:inherit;
	padding:0;
	font-weight:bold;
	border:none;
	height:100%;
}

.optionsPanel button:hover {
	background-color:#bbbbbb;
	cursor:pointer;
}

.optionsPanel button:active {
	background-color:#a1a19e;
	border:1px solid black;
}

.fileContainer {
	position:relative;
	height:203px;
	background-color:#00000078;
}

.fileContainer a {
	color:white;
	font-weight:bold;
	text-decoration:none;
	margin:10px;
	cursor:pointer;
}

.fileContainer a:hover {
	color:#bbbbbb;
}

.fileContainer a:active {
	color:black;
}
