body {
	padding:0;
	margin:0;
	max-width:256px;
	max-height:256px;
	background-color:black;
	background-image:url( "images/construct.png" );
	background-repeat:no-repeat;
}

.balls {
	border-right:1px solid #f0f8f0;
}

.speaker {
	margin-left:170px;
	margin-bottom:6px;
}

.time {
	position:absolute;
	margin-left:5px;
	margin-top:5px;
	font-size:12px;
}

.topPanel {
	top:0;
	left:0;
	position:relative;
	width:256px;
	height:24px;
	background-color:#003090;
	border-bottom:3px solid #001030;
	color:white;
	font-weight:bold;
}

.topPanelText {
	position:absolute;
	width:256px;
	height:24px;
	padding-top:4px;
	padding-left:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

.navPanel {
	position:relative;
	height:31px;
}

.contentPanel {
	position:relative;
	height:91px;
	background-color:#00000078;
}

.crashPanel {
	position:relative;
	height:22px;
	background-color:#00000028;
}

.statsPanel {
	position:relative;
	height:57px;
	border-bottom:2px solid #FFFFFF1E;
}

.optionsPanel {
	position:relative;
	height:22px;
	background-color:#DAD9D5;
	border-top:2px solid black;
	border-bottom:2px solid black;
}
